@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap');
/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coming Soon', cursive;
}
body{
    background: lavender;
}
#container{
    max-width: 1300px;
    margin: 0px auto;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Recursive', sans-serif;
    text-align: center;
    font-size: 4vw;
    font-style: italic;
    font-weight: 400;
    color: brown;
}
h3{
    font-weight: 300;
    text-align: center;
    font-style: italic;
    color: deeppink;
    font-size: 1.8vw;
    margin: 2vw 0px;
}
/* grid section */
#board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    width: 100%;
}
#grid-box {
    width: 49vw;
    height: 49vw;
    display: grid;
    box-shadow: 1px 2px 8px rgb(171, 171, 171);
    background: white;
}
/* control */
#control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    width: 25vw;
}
#size{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
/* slider */
#slider{
    display: flex;
    align-items: center;
    gap: 5px;
}
#gridSize{
    width: 22vw;
}
#value{
    font-size: 1.4vw;
    color: seagreen;
}
/* buttons */
#createGrid,#clear{
    border-radius: 15px;
    font-weight: 500;
    padding: 1px;
    border: 1px transparent;
    background: rgb(241, 94, 94);
    cursor: pointer;
    opacity: 0.75;
    transition: 0.2s ease-in;
    width: 100%;
}
#createGrid:hover,#clear:hover{
    color: white;
    box-shadow: 1px 4px 5px rgb(171, 171, 171);
    opacity: 1;
}
#control #clear{
    background: rgb(67, 190, 231);
}
/* color options */
#colors{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 100%;
}
.color-button{
    display: inline-block;
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5vw;
    width: 15vw;
    text-align: center;
    cursor: pointer;
    transition: 0.1s ease;
}
.color-button:hover{
    transform: scale(1.1);
}
#colors input[type='radio']{
    display: none;
}
#colors input[type='radio']:checked+label{
    background: black;
    color: white;
}
/* dynamic divs */
.grid-item {
    border: 1px solid #e2e2e2;
}
/* footer */
footer{
    font-size: 1.4vw;
    text-align: center;
    padding: 3px 10px;
    background: lightblue;
    font-weight: bold;
    width: 100%;
}
@media screen and (max-width:768px){
    h1{
        font-size: 1.6rem;
    }
    h3{
        font-size: 0.8rem;
    }
    #board{
        flex-direction: column-reverse;
    }
    .color-button{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:600px){
    footer{
        font-size: 0.8rem;
        position: fixed;
        left: 0;
        bottom: 0;
    }
}